.CartModal {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  z-index: 1000;
  transform: translateX(100vw);
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) -17px 0px 35px;
  padding: 15px;

  &.open {
    transform: translateX(calc(100vw - 400px));
  }

  .top {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    font-size: 30px;
    height: 8vh;

    .header {
      font-size: 30px;
      font-weight: 200;
    }

    .closeBtn {
      border: none;
      font-size: 30px;
      background-color: white;
      cursor: pointer;
    }
  }

  .products {
    overflow-y: scroll;
    height: 70vh;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5) ;

    .empty {
      font-family: 'Orbitron', sans-serif;
      color: #dddddd;
      font-size: 35px;
      text-align: center;

    }
  }

  .checkout {
    padding-top: 25px;

    .subtotal {
      display: flex;
      justify-content: space-between;
      font-size: 22px;

      .subtotalValue {
        font-weight: bold;
        font-size: 28px;
      }
    }

    .checkoutButton {
      display: block;
      width: 95%;
      background-color: #000;
      color: white;
      border: none;
      margin: 0 auto;
      height: 70px;
      border-radius: 10px;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}